* {
    font-family: "Poppins", Sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.logo {
    height: 90px;
    width: 200px;
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
}
.navegacion ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 500px;
    margin-top: 40px;
    font-size: 1.2em;
}

.navegacion ul li {
    margin-left: 20px;
}

.navegacion ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 0.95em;
}

.navegacion ul li a:hover {
    color: rgb(179, 179, 179);
    border: solid 1px cyan;
}

.carrito button {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-left: 440px;
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.inicio-fondo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 400px;
    margin-top: 230px;
    font-size: 2em;
    position: absolute;
    color:rgb(0, 0, 0);
    opacity: 0.5;
}
.inicio-fondo video {
    width: 100%;

    /* opacity: 9; */
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos-destacados {
    width: 100%;
    font-size: 1.2em;
    margin: 20px 35px 20px;
}

.card {
    width: 300px;
    text-align: center;
    box-shadow: 0px 2.5px 0px 0px rgb(0, 0, 0);
}

.card img {
    width: 90%;
}

.card p {
    margin-top: 10px;
}

.boton {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.boton:hover {
    background-color: rgb(31, 28, 28);
}

.img {
    margin-top: 100px;
    background-image: url(../imagenes/inico2.webp);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo-ofertas {
    width: 100%;
    font-size: 1.2em;
    margin: 20px 35px 20px;
}

.card-suplementos {
    width: 300px;
    text-align: center;
    box-shadow: 0px 2.5px 0px 0px rgb(0, 0, 0);
    margin-bottom: 90px;
}

.card-suplementos img {
    width: 90%;
}

.card-suplementos p {
    height: 60px;
}

.boton-suplementos {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.boton-suplementos:hover {
    background-color: rgb(31, 28, 28);
}

footer {
    height: 100vh;
    background-color: rgb(49, 48, 48);
}

.modal-header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 60px;
    align-items: center;
}

.model-header-title {
    font-size: 1.8em;
    margin-left: 500px;
}

.modal-header-button {
    margin-left: 508px;
    background-color: rgb(0, 0, 0);
    width: 40px;
    color: white;
    border: none;
    height: 60px;
    cursor: pointer;
}

.modal-header-button:hover {
    background-color: red;
}

.modal-container {
    width: 100%;
    max-height: 90vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;

}

.modal-content {
    display: flex;
    width: 65%;
    align-items: center;
    box-shadow: 0 1px 0px 0 rgb(182, 182, 182);
}

.modal-content img {
    width: 95px;
    margin-right: 40px;
}

.modal-content h3 {
    font-size: 0.99em;
}

.modal-content p {
    font-size: 1em;
    margin-left: 30%;
}

.total-content {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 0px 0 rgb(182, 182, 182);
    width: 80vh;
    text-align: center;
}

.eliminar-boton {
    margin-left: 35%;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.eliminar-boton:hover {
    color: rgb(255, 0, 0);
}